
.idea/modules.xml
.idea/pythonProject.iml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
muzyczka.mp3
ATTACK5.wav
DEAD.wav
TWINKLE.wav
win.mp3
lose.mp3
heal.mp3
gun.mp3
1UP.wav
bossdeath.wav
POWER UP.wav
dist.zip
build/main/Analysis-00.toc
build/main/base_library.zip
build/main/EXE-00.toc
build/main/main.exe.manifest
build/main/main.pkg
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/Tree-00.toc
build/main/Tree-01.toc
build/main/Tree-02.toc
build/main/warn-main.txt
build/main/xref-main.html
dist/bigExplosion.png
dist/boss.png
dist/boss2.png
dist/boss2evileye.png
dist/bossGravFrames.png
dist/bossSpinSprites.png
dist/bossSwipeFrames.png
dist/explosionFrame1.png
dist/explosionFrame2.png
dist/explosionFrame3.png
dist/explosionFrame4.png
dist/greenStar.png
dist/main.exe
dist/main.py
dist/pinkBomber.png
dist/player.png
dist/powerHeal.png
dist/powerShield.png
dist/powerShotgun.png
dist/powerup.png
dist/README.md
dist/redStar.png
dist/shieldFrames.png
dist/shieldspriteFrame1.png
dist/shieldspriteFrame2.png
dist/shieldspriteFrame3.png
dist/shieldspriteFrame4.png
dist/shieldspriteframe5.png
dist/smallExplosion.png
main.spec
